*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("Assets/background.jpeg");
}

html {
    min-height: 100vh;
}

.page-title {
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 500px;
  }
  
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 80px); /* 4 columns with a width of 80px each */
    grid-template-rows: repeat(4, 100px); /* 5 rows with a height of 100px each */
    gap: 10px; /* Adjust the gap between cards as needed */
}
  
.card {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    width: 80px; /* Width of each card */
    height: 100px; /* Height of each card */
    text-align: center;
    overflow: hidden;
    line-height: 100px; /* Center content vertically */
    border: none;
    border-radius: 12px;
}
  
.info-container {
    text-align: center; /* Center the content horizontally within .info-container */
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 20px;
}
  

.info{
    color: white;
    font-size: 3em;
}


.card-face{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg); 
}
  
.card.visible .card-front {
    transform: rotateY(0); 
}

.card-back {
    background-color: black;
    border-color: #FF6D00;
    transform: rotateY(0); 
}

.drop{
    position: absolute;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
    width: 18px;
    height: 18px;
    
}

.card-back:hover .drop{
    width: 22px;
    height: 22px;
}


.card-back {
    background-color: black;
    border-color:darkred;
}


.top-left{
    transform: rotate(270);
    top: 0;
    left: 0;
}

.top-right{
    top: 0;
    right: 0;
}

.bottom-left{
    transform: rotate(180);
    bottom: 0;
    left: 0;
}

.bottom-right{
    transform: rotate(90);
    bottom: 0;
    right: 0;
}

.bones{
    align-self: flex-start;
    transform: translate(-2px, 18px);
    width: 60px;
    height: 60px;

}


.card-front {
    background-color:black;
    border-color: #333;
    transform: rotateY(180deg);
}

.card-front img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
    margin: 0; 
    border-radius: 12px;
}

.ghost-div{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none; 
}


::selection {
    background-color: transparent; /* Remove the background color */
    color: inherit; /* Use the text color */
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: darkred;
}

.overlay-text-small{
    font-size: .3em;   
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}



@keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 8em;
    }
  }
  

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(5, 60px); 
        grid-template-rows: repeat(4, 100px);
    }

    .card{
        width: 60px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }
}

